<div class="container">
  <mat-card class="world-bank-card mat-elevation-z4">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Francisco Frota de Aguiar</mat-card-title>
      <mat-card-subtitle>Desenvolvedor Trainee</mat-card-subtitle>
    </mat-card-header>
    <div class="back-image"></div>
    <mat-card-content>
      <hr>
      <p>
        Neste aplicativo é possível obter informações sobre indicadores de pobreza no mundo.
        As informações são colhidas do Banco Mundial, e mostra o percentual da população de cada país que vive com menos
        de $1,90 por dia.
      </p>
    </mat-card-content>
    <mat-card-actions >
      <button mat-button (click)="navigate()" >ACESSAR</button>
    </mat-card-actions>
  </mat-card>
</div>